<form>
    {{#each inputs}}
    <div>
    {{#if isLabel}}
        <label tabindex="1">{{label}}</label>
    {{/if}}
        <input name="{{name}}" placeholder = "{{placeholder}}" 
               type="{{type}}" value="{{value}}" class="{{class}}"
               events="{{events}}" 
        />
        </div>
    {{/each}}
</form>