<section class="chat-bar">
    <div class="chat-header">
        {{{header}}}
        {{{form}}}
        {{{card}}}
    </div>
    <div class="chat-wrapper">
        <div class="chat-content">
            {{{chatContent}}}
            <div class="form-message">
            {{{form2}}}
        </div>
        </div>
        
    </div>*/
</section>